extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Erica

        p Full Stack JavaScript Developer in training


        .about-bio

          p Seeking a junior developer eager to innovate ways to re-connect the African diaspora? Well if you look any further, you'll get a 404 error because you're in the right place. Don't make a pass on me! I'm ready and able to exercise my skills to bring all the lost tribes back together by any mean necessary, including software engineering. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 202-555-1234
          li myemail@yahoo.com

        a.btn-link(href='https://www.linkedin.com') LinkedIn
        a.btn-link(href='https://www.github.com') GitHub
        a.btn-link(href='https://www.titter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back