extends layout.pug

block content

  article.portfolio-intro
    h1 Introducing: Erica Collier
    p Welcome! Thank you for being present here in the space I've defined to display my accomplishments as a trainee in a technology bootcamp. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail ${project.project_name}`)
            h5= project.project_name

